@charset "UTF-8";
:root {
  /* Step -2: 11.1111px → 8.96px */
  --step--2: clamp(0.56rem, 0.7213rem + -0.1344vi, 0.6944rem);
  /* Step -1: 13.3333px → 11.2px */
  --step--1: clamp(0.7rem, 0.86rem + -0.1333vi, 0.8333rem);
  /* Step 0: 16px → 14px */
  --step-0: clamp(0.875rem, 1.025rem + -0.125vi, 1rem);
  /* Step 1: 19.2px → 17.5px */
  --step-1: clamp(1.0938rem, 1.2213rem + -0.1062vi, 1.2rem);
  /* Step 2: 23.04px → 21.875px */
  --step-2: clamp(1.3672rem, 1.4546rem + -0.0728vi, 1.44rem);
  /* Step 3: 27.648px → 27.3438px */
  --step-3: clamp(1.709rem, 1.7318rem + -0.019vi, 1.728rem);
  /* Step 4: 33.1776px → 34.1797px */
  --step-4: clamp(2.0736rem, 2.0611rem + 0.0626vi, 2.1362rem);
  /* Step 5: 39.8131px → 42.7246px */
  --step-5: clamp(2.7994rem, 2.1767rem + 3.1134vi, 5.9128rem);
  --step-6: clamp(1.728rem, 1.4388rem + 1.4458vi, 3.1738rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: unset;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/images/bgex1.png);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 2150px) {
  .wrapper-1 {
    background-image: url(../assets/images/bgexx.png);
  }
}
.wrapper-1 .wrapper-1-items {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content {
  width: 45%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-title {
  font-weight: 600;
  line-height: 7rem;
  font-size: var(--step-5);
  color: #ffffff;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content span {
  color: #44cc2f;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-description {
  font-weight: 400;
  width: 75%;
  font-size: var(--step-2);
  color: #ffffff;
  margin: 2rem 0 5rem 0;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-buttons {
  display: flex;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-buttons .wrapper-1-content-btn {
  font-size: var(--step-1);
  font-weight: 400;
  line-height: 2.5rem;
  color: rgb(17, 17, 17);
  background-color: #ffffff;
  padding: 0 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-buttons .wrapper-1-content-btn span {
  font-size: var(--step-4);
  margin-left: 0.5rem;
  color: rgb(17, 17, 17);
  transition: 150ms ease-in-out;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-buttons .wrapper-1-content-btn:hover span {
  margin-left: 1.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-buttons .content-primary {
  background-color: #44cc2f;
  color: #ffffff;
  margin-left: 3rem;
}
.wrapper-1 .wrapper-1-items .wrapper-1-content .wrapper-1-content-buttons .content-primary span {
  color: #ffffff;
}

.wrapper-2 {
  width: 100%;
  padding: 3rem 10%;
  background-color: rgb(232, 232, 232);
}
.wrapper-2 .wrapper-2-items {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-2 .wrapper-2-items .wrapper-2-item {
  background-position: center;
  background-size: cover;
  height: 6rem;
}

.wrapper-3 {
  width: 70%;
  max-width: 1400px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}
.wrapper-3 .wrapper-3-img {
  width: 35rem;
}
.wrapper-3 .wrapper-3-content {
  width: 30rem;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-title {
  font-size: var(--step-4);
  color: #44cc2f;
  font-weight: 500;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-description {
  font-size: var(--step-1);
  font-weight: 400;
  color: rgb(17, 17, 17);
  margin: 1rem 0 4rem 0;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-btn {
  font-size: var(--step-1);
  color: #44cc2f;
  line-height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-btn::before {
  content: "";
  position: absolute;
  width: 0;
  top: 100%;
  height: 3px;
  background-color: #44cc2f;
  transition: 250ms ease-in-out;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-btn span {
  transition: 150ms ease-in-out;
  font-size: var(--step-4);
  margin-left: 0.5rem;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-btn:hover span {
  margin-left: 1.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-3 .wrapper-3-content .wrapper-3-content-btn:hover::before {
  width: 100%;
  transition: 250ms ease-in-out;
}

.wrapper-4 {
  width: 70%;
  max-width: 1400px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}
.wrapper-4 .wrapper-4-img {
  width: 35rem;
}
.wrapper-4 .wrapper-4-content {
  width: 30rem;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-title {
  font-size: var(--step-4);
  color: #44cc2f;
  font-weight: 500;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-description {
  font-size: var(--step-1);
  font-weight: 400;
  color: rgb(17, 17, 17);
  margin: 1rem 0 4rem 0;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-btn {
  font-size: var(--step-1);
  color: #44cc2f;
  line-height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-btn::before {
  content: "";
  position: absolute;
  width: 0;
  top: 100%;
  height: 3px;
  background-color: #44cc2f;
  transition: 250ms ease-in-out;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-btn span {
  font-size: var(--step-4);
  margin-left: 0.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-btn:hover span {
  margin-left: 1.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-4 .wrapper-4-content .wrapper-4-content-btn:hover::before {
  width: 100%;
  transition: 250ms ease-in-out;
}

.wrapper-5 {
  width: 70%;
  max-width: 1400px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}
.wrapper-5 .wrapper-5-container {
  width: 35rem;
  display: grid;
  gap: 2rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  border: 4px solid rgba(68, 204, 47, 0.2);
  border-radius: 2rem;
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item .wrapper-5-container-item-icon {
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item .wrapper-5-container-item-number {
  font-size: var(--step-2);
  font-weight: 500;
  margin: 0.5rem 0 0.25rem 0;
  color: #44cc2f;
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item .wrapper-5-container-item-description {
  font-size: var(--step-1);
  font-weight: 400;
  color: rgb(17, 17, 17);
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item .icon-1 {
  background-image: url(../assets/icons/wrapper-5-icon-1.svg);
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item .icon-2 {
  background-image: url(../assets/icons/wrapper-5-icon-2.svg);
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item .icon-3 {
  background-image: url(../assets/icons/wrapper-5-icon-3.svg);
}
.wrapper-5 .wrapper-5-container .wrapper-5-container-item:nth-child(4) {
  border: none;
}
.wrapper-5 .wrapper-5-content {
  width: 30rem;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-title {
  font-size: var(--step-4);
  color: #44cc2f;
  font-weight: 500;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-description {
  font-size: var(--step-1);
  font-weight: 400;
  color: rgb(17, 17, 17);
  margin: 1rem 0 4rem 0;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-btn {
  font-size: var(--step-1);
  color: #44cc2f;
  line-height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-btn::before {
  content: "";
  position: absolute;
  width: 0;
  top: 100%;
  height: 3px;
  background-color: #44cc2f;
  transition: 250ms ease-in-out;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-btn span {
  font-size: var(--step-4);
  margin-left: 0.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-btn:hover span {
  margin-left: 1.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-5 .wrapper-5-content .wrapper-5-content-btn:hover::before {
  width: 100%;
  transition: 250ms ease-in-out;
}

.wrapper-6 {
  width: 65%;
  max-width: 1500px;
  padding: 8rem 0;
}
.wrapper-6 .wrapper-6-title {
  font-size: var(--step-4);
  color: #44cc2f;
  font-weight: 500;
}
.wrapper-6 .wrapper-6-container {
  width: 100%;
  margin-top: 6rem;
  display: grid;
  row-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-img {
  height: 25rem;
  background-image: url(../assets/images/wrapper-6-img.png);
  background-position: center;
  background-size: cover;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content {
  width: 75%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-title {
  font-size: var(--step-3);
  font-weight: 500;
  color: #44cc2f;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-description {
  font-size: var(--step-1);
  font-weight: 400;
  margin: 1rem 0 2rem 0;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-btn {
  font-size: var(--step-0);
  color: #44cc2f;
  line-height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-btn::before {
  content: "";
  position: absolute;
  width: 0;
  top: 100%;
  height: 3px;
  background-color: #44cc2f;
  transition: 250ms ease-in-out;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-btn span {
  font-size: var(--step-3);
  margin-left: 0.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-btn:hover span {
  margin-left: 1.5rem;
  transition: 150ms ease-in-out;
}
.wrapper-6 .wrapper-6-container .wrapper-6-container-content .wrapper-6-container-content-btn:hover::before {
  width: 100%;
  transition: 250ms ease-in-out;
}
.wrapper-6 .wrapper-6-container .left {
  margin-left: unset;
  margin-right: auto;
}

.footer {
  width: 100%;
  padding: 4rem 15%;
  background-color: rgb(64, 64, 64);
}
.footer .footer-items {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .footer-items .footer-img {
  width: 15rem;
}
.footer .footer-items .footer-list {
  list-style: none;
  margin: auto;
}
.footer .footer-items .footer-list-item {
  color: #ffffff;
  font-size: var(--step-0);
  font-weight: 300;
  padding: 0.15rem 0;
}
.footer .footer-items .footer-socials {
  display: flex;
  height: 3rem;
  margin-top: 1rem;
}
.footer .footer-items .footer-socials .footer-social-item {
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-size: cover;
}
.footer .footer-items .footer-socials .fb {
  background-image: url(../assets/icons/facebook.png);
}
.footer .footer-items .footer-socials .ig {
  background-image: url(../assets/icons/instagram.png);
  margin: 0 1rem;
}
.footer .footer-items .footer-socials .li {
  background-image: url(../assets/icons/linkedin.png);
}/*# sourceMappingURL=main.css.map */